
.hero-section {
  background: url(multimedia/hero.jpg) no-repeat center center/cover;
  color: white;
  padding: 100px 0;
}
/* Estilos del calendario */
#calendar {
  max-width: 900px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el filtro de eventos */
#eventFilter {
  margin-bottom: 20px;
}
footer {
  padding: 15px;
}